<!doctype html>
<html lang="ar" dir="rtl">

<head>
    <!-- Required meta tags -->

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   
    <link rel="stylesheet" href="../views/css/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../views/css/preloader.css">
    <title>HeJID - JID - Devenez acteurJID</title>
</head>

<body>
    <header>

        <img src="../views/src/jidLogo.jpg" alt="JID" class="logo" />

    </header>

    <div class="container" style="padding: 20px;">

        <div class="row">

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="الصفحة-الرئيسية.php">الصفحة الرئيسية</a></li>
                    <li><a href="تقديم.html">تقديم</a></li>

                    <li class="menu-has-children"><a href="">فاعلين اليوم الدولي للديمقراطية</a>
                        <ul>
                            <li><a href="خريطة-الأنشطة.php">خريطة لأنشطة</a></li>
                            <li><a href="جدول-مواعيد-الأنشطة.php">جدول مواعيد الأنشطة</a></li>
                            <li><a href="كن-فاعل.html">كن فاعل</a></li>
                            <li><a href="اقتراح-مناظرة.html">اقترح نقاش</a></li>
                            <li><a href="حوض-السمك.html">حوض السمك</a></li>
                        </ul>
                    </li>
                    <li class="menu-active" class="menu-has-children"><a href="youthtalk2018.html">JID Youth Talk</a>
                        <ul>
                            <li><a href="youthtalk2018-ar.html">JID Youth Talk 2018</a></li>

                        </ul>
                    </li>

                    <li class="menu-has-children"><a href="la-jid-2016.html">التوثيق</a>
                        <ul>
                            <li><a href="la-jid-2016-ar.html">اليوم الدولي للديمقراطية 2016</a></li>
                            <li><a href="la-jid-2017-ar.html">اليوم الدولي للديمقراطية 2017</a></li>
                            <li><a href="la-jid-2018-ar.html">اليوم الدولي للديمقراطية 2018</a></li>
                            <li><a href="la-jid-2018-ar.html">اليوم الدولي للديمقراطية 2019</a></li>
                        </ul>
                    </li>




                    <li><a href="اتصل.html">اتصل بنا</a></li>

                    <li class="menu-has-children"><a href="الصفحة-الرئيسية.php">العربية</a>
                        <ul>
                            <li><a href="home.php">Français</a></li>
                        </ul>

                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>



    <section id="contact-subheader">
        <div class="container wow fadeIn">
            <div class="row">

                <div class="col-lg-12 text-center text-lg-left">
                    <h3 class="cta-title" align="start">JID Youth TALK 2018</h3>
                </div>
            </div>


        </div>
    </section>




    <img src="../views/src/Logo-JIDYouthTalk-v1-2.png" style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;padding-top: 50px;" />





    <!-- /******************************************************/ -->




    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="presentation" style="font-size: 24px;
                font-family: roboto;
                line-height: 50px;
                font-weight: 300;
                color: #2e2e2e;
                padding: 0px 50px;
                background-color: #ffffff;
                border-left: solid 0.5px #F44336;
                color: #2e2e2e;
                font-family: cairo;
                word-spacing: 1px;
                padding-top: 100px;">
                    <center>
                        <h1>
                            تقديم
                        </h1>
                    </center>
                    <p> JID YouthTalk هي مبادرة تهدف إلى خلق منصة للاحتفال بالمسيرة الاستثنائية والملهمة التي تعبر عن
                        أصوات الشباب. هذه المسيرة، عادةً ما يكون الحديث عنها ضعيف على الرغم من وجود مهارات شابة في
                        مجالات الابتكار، ريادة الأعمال والمشاركة الفاعلة في المجتمع المدني</p>
                    <p> هذه المبادرة إذاً تستهدف كل شاب جريء، حالم، صانع للتغيير وحامل لأفكار فريدة من نوعها وهي فرصة
                        كذلك لإبراز الشباب الفاعل الغير معروف في الوسط العام وتقديم نقاط القوة التي يتمتعون بها والعوائق
                        التي واجهوها في البداية مع التركيز على التألق في مسيراتهم الاستثنائية</p>
                    <p> سيجتمع، في هذا الحدث، العديد من المتحدثين من مختلف الجهات للحديث عن مسيرتهم، حيث كل شخص سيعرض
                        طريقته الخاصة في كيفية تسير عمله والتعامل مع مختلف الوضعيات. فكل قصة أو سيرة يجب أن تحكى وتشارك!
                        JID YouthTalk هي مبادرة من المؤسسة الدولية للنظم الانتخابية (IFES)، منظمة غير ربحية، تعمل على حث
                        الشباب وتحميسهم لمواصلة شغفهم رغم الصعوبات والعوائق الاقتصادية والاجتماعية وعدم تكافئ الفرص</p>
                    <p> JID YouthTalk تنظم في 2018 دورتها الأولى في إطار الاحتفال السنوي باليوم الدولي للديمقراطية يوم
                        15 سبتمبر الذي يقام للمرة الثالثة في تونس</p>
                </div>
            </div>

            <div class="col-md-4">
                <center>
                    <iframe width="345" height="315" src="https://www.youtube.com/embed/LoAoaKcEcdA" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                        style="padding-top: 20px ;"></iframe>

                    <h5>

                        15 سبتمبر 2018, على الساعة الخامسة مساءا <br> تونس العاصمة، تونس<br>


                    </h5>
                </center>
            </div>
        </div>

    </div>



    <div class="py-5 team4">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-md-7 text-center">
                    <h1 class="mb-5">المتدخلون
                    </h1>

                </div>
            </div>
            <div class="row">
                <!-- column  -->
                <div class="col-lg-4 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="../views/img/Samia-Orosemanefin.png" alt="wrapkit"
                                class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">SAMIA OROSEMANE</h5>
                                <h6 class="subtitle mb-3">Humoriste & Comédienne</h6>

                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-4 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="../views/img/Rima-Abdelli.png" alt="wrapkit" class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">RIMA AL ABDALI</h5>
                                <h6 class="subtitle mb-3">Athlète Tunisienne</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-4 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="../views/img/Aymen-Jbeliyo.png" alt="wrapkit" class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">AYMEN JEBALI</h5>
                                <h6 class="subtitle mb-3">Activiste </h6>

                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-4 mb-4">
                    <!-- Row -->

                    <!-- Row -->
                </div>
            </div>
            <div class="row">
                <!-- column  -->
                <div class="col-lg-4 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="../views/img/Haythem-Srihi.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">Haythem Srihi</h5>
                                <h6 class="subtitle mb-3">Activiste</h6>

                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-4 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="../views/img/Mehdi-Cherif.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">MEHDI CHERIF</h5>
                                <h6 class="subtitle mb-3">Jeune Activiste</h6>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-4 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="../views/img/sabrine-Jenhani.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">SABRINE JENHANI</h5>
                                <h6 class="subtitle mb-3">Artiste</h6>

                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-4 mb-4">
                    <!-- Row -->

                    <!-- Row -->
                </div>
            </div>
        </div>
    </div>

    <div class="container my-4">



        <div class="border border-light p-3 mb-4">

            <div class="button_cont" align="center"><a class="example_c"
                    href="../views/ressources/YT-Programme-Book.pdf">تحميل البرنامج</a>
            </div>


        </div>

    </div>



    <div class="py-5 team4">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-md-7 text-center">
                    <h1 class="mb-5">الفنانون</h1>

                </div>
            </div>
            <div class="row">
                <!-- column  -->
                <div class="col-lg-4 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="../views/img/Yasser-Jradi-1.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">YASSER JRADI</h5>


                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-4 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="../views/img/Lobna-Noomen.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">LOBNA NOOMEN</h5>

                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-4 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="../views/img/Ridha-Rzig.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">RIDHA RZIG</h5>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->

            </div>
        </div>
    </div>


    <div class="py-5 team4">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-md-7 text-center">
                    <h1 class="mb-5">المشرف</h1>

                </div>
            </div>
            <div class="row">
                <!-- column  -->
                <div class="col-lg-4 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">



                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-4 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src="../views/img/Makki-Helal-Moderateur-.jpg" alt="wrapkit"
                                class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h5 class="mt-4 font-weight-medium mb-0">MAKKI HELAL</h5>

                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-4 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">

                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->

            </div>
        </div>
    </div>





    <!-- /************************************************************************/ -->






    <footer class="footer-area footer--light">
        <div class="footer-big">
            <!-- start .container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div class="footer-widget">
                            <div class="widget-about">
                                <!-- <img src="http://placehold.it/250x80" alt="" class="img-fluid"> -->
                                <h4 class="footer-widget-title">ماهو اليوم الدولي للديمقراطية ؟ </h4>
                                <p>أعلنت الجمعية العامة للأمم المتحدة منذ سنة 2007، يوم 15 سبتمبر تاريخ الاحتفال باليوم
                                    الدولي للديمقراطية بهدف تعزيز ودعم المبادئ الديمقراطية. وهي دعوة للجميع للاحتفال
                                    بهذا اليوم بهدف التوعية حول قضايا الديمقراطية. كما أنها فرصة لتقييم وضع الديمقراطية
                                    حول العالم.<a href="../views/presentation-2/index.html"> <b>لمعرفة المزيد </a></b></p>
                                <ul class="contact-details">

                                    <li>
                                        <span class="icon-envelope-open"></span>
                                        <b><a href="mailto:info@jid.tn">info@jid.tn</a></b>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Ends: .footer-widget -->
                    </div>
                    <!-- end /.col-md-4 -->
                    <div class="col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <div class="footer-menu footer-menu--1">
                                <h4 class="footer-widget-title">روابط مفيدة</h4>
                                <ul>
                                    <li><a class="fancylink" href="">الأمم المتحدة</a></li>
                                    <li><a href="">الصندوق الوطني للديمقراطية</a></li>
                                    <li><a href="">الاتحاد البرلماني الدولي</a></li>
                                    <li><a href="">انتخابات كندا أسبوع الديمقراطية الكندية</a></li>
                                    <li><a href=""> شبكة InTerre Actif </a></li>
                                    <li><a href="">الجمعية البرلمانية للفرانكوفونية</a></li>
                                    <li><a href="">الاتحاد الكونفدرالي السويسري جنيف</a></li>
                                    <li><a href="">مؤتمر اليوم الدولي للديمقراطية للتركيز على السياسة الديمقراطية</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end /.footer-menu -->
                        </div>
                        <!-- Ends: .footer-widget -->
                    </div>
                    <!-- end /.col-md-3 -->

                    <div class="col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <div class="footer-menu">
                                <h4 class="footer-widget-title">تابعونا</h4>
                                <section id="lab_social_icon_footer">
                                    <!-- Include Font Awesome Stylesheet in Header -->
                                    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
                                        rel="stylesheet">

                                    <div class="">
                                        <a href="https://www.facebook.com/JIDTN/"><i id="social-fb"
                                                class="fa fa-facebook-square fa-3x social"></i></a>
                                        <a href="https://twitter.com/JID_Tunisie"><i id="social-tw"
                                                class="fa fa-twitter-square fa-3x social"></i></a>
                                        <a href="https://www.instagram.com/jid_tn/"><i id="social-gp"
                                                class="fa fa-instagram fa-3x social"></i></a>
                                        <a href="mailto:info@jid.tn   "><i id="social-em"
                                                class="fa fa-envelope-square fa-3x social"></i></a>
                                    </div>

                                </section>
                            </div>
                            <!-- end /.footer-menu -->
                        </div>
                        <!-- Ends: .footer-widget -->
                    </div>
                    <!-- end /.col-lg-3 -->

                    <div class="col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <div class="footer-menu no-padding">
                                <h4 class="footer-widget-title">شريكنا الإعلامي</h4>
                                <ul>
                                    <li>
                                        <img src="../views/src/ifm.jpg" alt="" class="img-fluid">

                                    </li>

                                </ul>
                            </div>
                            <!-- end /.footer-menu -->
                        </div>
                        <!-- Ends: .footer-widget -->
                    </div>
                    <!-- Ends: .col-lg-3 -->

                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end /.footer-big -->

        <div class="mini-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-text">
                            <p>© 2020
                                <a href="#">JID</a>. All rights reserved. Created by
                                <a href="#">GAW</a>
                            </p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </footer>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="../views/js/script.js"></script>
    <script src="..views/js/preloader.js"></script>

</body>

</html>