<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../src/favicon.png" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style1.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
    <link rel="stylesheet" href="../css/preloader.css">
    <title>JID - JID - Devenez acteurJID</title>
</head>

<body>
    <header>

        <img src="../src/jidLogo.jpg" alt="JID" class="logo" />


    </header>

    <div class="container" style="padding: 20px;">

        <div class="row">
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="home.php">Acceuil</a></li>
                    <li><a href="presentation.html">Presentation</a></li>

                    <li class="menu-has-children"><a href="">Acteurs de la JID</a>
                        <ul>
                            <li><a href="cartedesactivites.php">Carte des Activités</a></li>
                            <li><a href="calendrierdesactivite.php">Calendrier des Activités</a></li>
                            <li><a href="devenir-acteur.html">Devenir acteur</a></li>
                            <li><a href="proposer-un-debat.html">Proposer un débat</a></li>
                            <li><a href="fishbowl-debate.html">Fishbowl debate</a></li>
                        </ul>
                    </li>
                    <li class="menu-has-children"><a href="youthtalk2018.html">JID Youth Talk</a>
                        <ul>
                            <li><a href="youthtalk2018.html">JID Youth Talk 2018</a></li>

                        </ul>
                    </li>

                    <li class="menu-active" class="menu-has-children"><a href="la-jid-2016.html">Documentation</a>
                        <ul>
                            <li><a href="la-jid-2016.html">LA JID 2016</a></li>
                            <li><a href="la-jid-2017.html">LA JID 2017</a></li>
                            <li><a href="la-jid-2018.html">LA JID 2018</a></li>
                        </ul>
                    </li>




                    <li><a href="contact.html">Contact</a></li>

                    <li class="menu-has-children"><a href="home.php">Français</a>
                        <ul>
                            <li><a href="#">Arabe</a></li>
                        </ul>

                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
    </div>
    <section id="contact-subheader">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-lg-12 text-center text-lg-left">
                    <h3 class="cta-title" align="start">LA JID 2017</h3>
                </div>
            </div>
        </div>
    </section>

    <div class="container gallery-container">

        <h1 class="section-header">Galerie Photo</h1>
    <div class="section-header-underline"></div>
        <div class="tz-gallery">

            <div class="row">

                <div class="col-sm-12 col-md-4">
                    <a class="lightbox" href="../jid2017/1.jpg">
                        <img src="../jid2017/1.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/2.jpg">
                        <img src="../jid2017/2.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/3.jpg">
                        <img src="../jid2017/3.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/4.jpg">
                        <img src="../jid2017/4.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/5.jpg">
                        <img src="../jid2017/5.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/6.jpg">
                        <img src="../jid2017/6.jpg" alt="">
                    </a>
                </div>

            </div>
            <!-------------------end first row------------------------->
            <!-------------------start second row---------------------->

            <div class="row">

                <div class="col-sm-12 col-md-4">
                    <a class="lightbox" href="../jid2017/7.jpg">
                        <img src="../jid2017/7.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/8.jpg">
                        <img src="../jid2017/8.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/9.jpg">
                        <img src="../jid2017/9.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/10.jpg">
                        <img src="../jid2017/10.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/11.jpg">
                        <img src="../jid2017/11.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/12.jpg">
                        <img src="../jid2017/12.jpg" alt="">
                    </a>
                </div>

            </div>

            <!-------------------end second row------------------------->
            <!---------------------start third row --------------------->

            <div class="row">

                <div class="col-sm-12 col-md-4">
                    <a class="lightbox" href="../jid2017/13.jpg">
                        <img src="../jid2017/13.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/14.jpg">
                        <img src="../jid2017/14.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/15.jpg">
                        <img src="../jid2017/15.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/16.jpg">
                        <img src="../jid2017/16.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/17.jpg">
                        <img src="../jid2017/17.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/18.jpg">
                        <img src="../jid2017/18.jpg" alt="">
                    </a>
                </div>

            </div>

            <!-------------------end third row------------------------->
            <!---------------------start 4th row --------------------->

            <div class="row">

                <div class="col-sm-12 col-md-4">
                    <a class="lightbox" href="../jid2017/19.jpg">
                        <img src="../jid2017/19.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/20.jpg">
                        <img src="../jid2017/20.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/21.jpg">
                        <img src="../jid2017/21.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/22.jpg">
                        <img src="../jid2017/22.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/23.jpg">
                        <img src="../jid2017/23.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/24.jpg">
                        <img src="../jid2017/24.jpg" alt="">
                    </a>
                </div>

            </div>


            <!-------------------end third row------------------------->
            <!---------------------start 4th row --------------------->

            <div class="row">

                <div class="col-sm-12 col-md-4">
                    <a class="lightbox" href="../jid2017/25.jpg">
                        <img src="../jid2017/25.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/26.jpg">
                        <img src="../jid2017/26.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/27.jpg">
                        <img src="../jid2017/27.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/28.jpg">
                        <img src="../jid2017/28.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/29.jpg">
                        <img src="../jid2017/29.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/30.jpg">
                        <img src="../jid2017/30.jpg" alt="">
                    </a>
                </div>

            </div>

            <!-------------------end third row------------------------->
            <!---------------------start 4th row --------------------->

            <div class="row">

                <div class="col-sm-12 col-md-4">
                    <a class="lightbox" href="../jid2017/31.jpg">
                        <img src="../jid2017/31.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/32.jpg">
                        <img src="../jid2017/32.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/33.jpg">
                        <img src="../jid2017/33.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/34.jpg">
                        <img src="../jid2017/34.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/35.jpg">
                        <img src="../jid2017/35.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/36.jpg">
                        <img src="../jid2017/36.jpg" alt="">
                    </a>
                </div>

            </div>
            <!-------------------end third row------------------------->
            <!---------------------start 4th row --------------------->

            <div class="row">

                <div class="col-sm-12 col-md-4">
                    <a class="lightbox" href="../jid2017/37.jpg">
                        <img src="../jid2017/37.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/38.jpg">
                        <img src="../jid2017/38.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/39.jpg">
                        <img src="../jid2017/39.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/40.jpg">
                        <img src="../jid2017/40.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/41.jpg">
                        <img src="../jid2017/41.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/42.jpg">
                        <img src="../jid2017/42.jpg" alt="">
                    </a>
                </div>

            </div>


            <!-------------------end third row------------------------->
            <!---------------------start 4th row --------------------->

            <div class="row">

                <div class="col-sm-12 col-md-4">
                    <a class="lightbox" href="../jid2017/43.jpg">
                        <img src="../jid2017/43.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/44.jpg">
                        <img src="../jid2017/44.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/45.jpg">
                        <img src="../jid2017/45.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/46.jpg">
                        <img src="../jid2017/46.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/47.jpg">
                        <img src="../jid2017/47.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/48.jpg">
                        <img src="../jid2017/48.jpg" alt="">
                    </a>
                </div>

            </div>

            <!-------------------end third row------------------------->
            <!---------------------start 4th row --------------------->

            <div class="row">

                <div class="col-sm-12 col-md-4">
                    <a class="lightbox" href="../jid2017/49.jpg">
                        <img src="../jid2017/49.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/50.jpg">
                        <img src="../jid2017/50.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/51.jpg">
                        <img src="../jid2017/51.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/52.jpg">
                        <img src="../jid2017/52.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/53.jpg">
                        <img src="../jid2017/53.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/54.jpg">
                        <img src="../jid2017/54.jpg" alt="">
                    </a>
                </div>

            </div>

            <!-------------------end third row------------------------->
            <!---------------------start 4th row --------------------->

            <div class="row">

                <div class="col-sm-12 col-md-4">
                    <a class="lightbox" href="../jid2017/55.jpg">
                        <img src="../jid2017/55.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/56.jpg">
                        <img src="../jid2017/56.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/57.jpg">
                        <img src="../jid2017/57.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/58.jpg">
                        <img src="../jid2017/58.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/59.jpg">
                        <img src="../jid2017/59.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/60.jpg">
                        <img src="../jid2017/60.jpg" alt="">
                    </a>
                </div>

            </div>
            <!-------------------end third row------------------------->
            <!---------------------start 4th row --------------------->

            <div class="row">

                <div class="col-sm-12 col-md-4">
                    <a class="lightbox" href="../jid2017/61.jpg">
                        <img src="../jid2017/61.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/62.jpg">
                        <img src="../jid2017/62.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/63.jpg">
                        <img src="../jid2017/63.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/64.jpg">
                        <img src="../jid2017/64.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/65.jpg">
                        <img src="../jid2017/65.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/66.jpg">
                        <img src="../jid2017/66.jpg" alt="">
                    </a>
                </div>

            </div>
            <!-------------------end third row------------------------->
            <!---------------------start 4th row --------------------->

            <div class="row">

                <div class="col-sm-12 col-md-4">
                    <a class="lightbox" href="../jid2017/67.jpg">
                        <img src="../jid2017/67.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/68.jpg">
                        <img src="../jid2017/68.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/69.jpg">
                        <img src="../jid2017/69.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/70.jpg">
                        <img src="../jid2017/70.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/71.jpg">
                        <img src="../jid2017/71.jpg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../jid2017/72.jpg">
                        <img src="../jid2017/72.jpg" alt="">
                    </a>
                </div>

            </div>


        </div>

    </div>


    <!------------------------- video Galerie-------------------->
    <h1 class="section-header"> Galerie Video </h1>
    <div class="section-header-underline"></div>
    <div class="container">

        <div class="row">


            <div class="col">

                <div class="gallery">
                    <div class="single-video">
                        <figure>
                            <iframe width="1366" height="632" src="https://www.youtube.com/embed/x76_MB19oGg"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </figure>
                    </div>
                    <div class="single-video">
                        <figure>
                            <iframe width="1366" height="632" src="https://www.youtube.com/embed/CuolvAnY_P4"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </figure>
                    </div>

                </div>

            </div>

        </div>
        <div class="row">


            <div class="col">

                <div class="gallery">
                    <div class="single-video">
                        <figure>
                            <iframe width="1366" height="632" src="https://www.youtube.com/embed/-mAAn6ZrhwQ"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </figure>
                    </div>
                    <div class="single-video">
                        <figure>
                            <iframe width="1366" height="632" src="https://www.youtube.com/embed/rdU3UjXVryM"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </figure>
                    </div>

                </div>

            </div>


        </div>
        <div class="row">


            <div class="col">

                <div class="gallery">
                    <div class="single-video">
                        <figure>
                            <iframe width="500" height="632" src="https://www.youtube.com/embed/XoWnAI9oMD8"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </figure>
                    </div>

                </div>

            </div>


        </div>


    </div>



    <!-------------------------end video gallery-------------------->



    <!-------------------------revus de press-------------------->

    <h1 class="section-header">Revus De Press</h1>
    <div class="section-header-underline"></div>

    <div style="list-style: disc outside;">
        <ol class="horizontal-list">

            <li class="horizontal-list-item">
                <a href="http://www.agendas.ovh/journee-internationale-de-la-democratie-jid-2017/">Journée
                    Internationale de la Démocratie JID 2017 </a>
            </li>

            <li class="horizontal-list-item">
                <a
                    href="http://www.businessnews.com.tn/la-tunisie-celebre-de-nouveau-la-journee-internationale-de-la-democratie,524,74804,3">La
                    Tunisie célèbre de nouveau la Journée Internationale de la Démocratie ! </a>
            </li>

            <li class="horizontal-list-item">
                <a href="http://www.webmanagercenter.com/2017/09/15/410019/espace-debat-a-tunis-a-loccasion-de-la-journee-internationale-de-la-democratie/">La Tunisie célèbre la Journée internationale de la démocratie </a>
            </li>

        </ol>

        <ol class="horizontal-list">

            <li class="horizontal-list-item">
                <a href="http://kapitalis.com/tunisie/2017/09/14/journee-internationale-de-la-democratie-celebree-a-lift/">Journée Internationale de la démocratie célebrée à l'IFT</a></li>

            <li class="horizontal-list-item">
                <a href="http://www.lapresse.tn/component/nationals/?task=article&amp;id=136274">Journée Internationale de la DémocratieDébats politiques et activités artistiques</a>
            </li>

            <li class="horizontal-list-item">
                <a href="http://lapresse.tn/component/nationals/?task=article&amp;id=136305">Le rôle primordial des instances indépendantes </a>
            </li>
        </ol>
        <ol class="horizontal-list">

            <li class="horizontal-list-item">
                <a href="https://www.ifm.tn/article/le-15-septembre-la-journ%C3%A9e-internationale-de-la-d%C3%A9mocratie">Le 15 Septembre : La journée Internationale de la démocratie </a></li>

            <li class="horizontal-list-item">
                <a href="https://www.facebook.com/pageofficielleRTCI/videos/1662458387120414/">Interviwing IFES Outrech Project manager Khamayel Fennich on RTCI (Tunisian international radio
                    channel) about the IDD</a>
            </li>

           
        </ol>

    </div>









    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>  baguetteBox.run('.tz-gallery');</script>


    <footer class="footer-area footer--light">
        <div class="footer-big">
            <!-- start .container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div class="footer-widget">
                            <div class="widget-about">
                                <!-- <img src="http://placehold.it/250x80" alt="" class="img-fluid"> -->
                                <h4 class="footer-widget-title">C’est quoi la JID ? </h4>
                                <p>En 2007, l’Assemblée générale des Nations Unies a décidé de célébrer le <b>15
                                        Septembre</b> de chaque année la Journée internationale de la démocratie
                                    (JID)dans le but de promouvoir et de défendre les principes de la démocratie. Chacun
                                    est invité à commémorer cette journée pour accroître la sensibilisation du public
                                    sur les enjeux démocratiques. <b><a href="../presentation-2/index.html">En savoir
                                            plus</a></b></p>
                                <ul class="contact-details">

                                    <li>
                                        <span class="icon-envelope-open"></span>
                                        <b><a href="mailto:info@jid.tn">info@jid.tn</a></b>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Ends: .footer-widget -->
                    </div>
                    <!-- end /.col-md-4 -->
                    <div class="col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <div class="footer-menu footer-menu--1">
                                <h4 class="footer-widget-title">Liens Utiles</h4>
                                <ul>
                                    <li>
                                        <a href="#">United Nations</a>
                                    </li>
                                    <li>
                                        <a href="#">National Endowment for Democracy (NED)</a>
                                    </li>
                                    <li>
                                        <a href="#">L'Union Interparlementaire(IPU)</a>
                                    </li>
                                    <li>
                                        <a href="#">Elections Canada La Semaine </a>
                                    </li>
                                    <li>
                                        <a href="#">Canadienne de la Démocratie</a>
                                    </li>


                                    <li>
                                        <a href="#">Le Réseau InTerre Actif (Québec)</a>
                                    </li>
                                    <li>
                                        <a href="#">Assemblée Parlementaire de la Francophonie</a>
                                    </li>
                                    <li>
                                        <a href="#">Confédération Suisse Canton de Genève</a>
                                    </li>
                                    <li>
                                        <a href="#">International Day for Democracy conference to focus on democratic
                                            politics</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end /.footer-menu -->
                        </div>
                        <!-- Ends: .footer-widget -->
                    </div>
                    <!-- end /.col-md-3 -->

                    <div class="col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <div class="footer-menu">
                                <h4 class="footer-widget-title">Suivez-nous !</h4>
                                <section id="lab_social_icon_footer">
                                    <!-- Include Font Awesome Stylesheet in Header -->
                                    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
                                        rel="stylesheet">
                                   
                                        <div class="">
                                            <a href="https://www.facebook.com/JIDTN/"><i id="social-fb"
                                                    class="fa fa-facebook-square fa-3x social"></i></a>
                                            <a href="https://twitter.com/JID_Tunisie"><i id="social-tw"
                                                    class="fa fa-twitter-square fa-3x social"></i></a>
                                            <a href="https://www.instagram.com/jid_tn/"><i id="social-gp"
                                                    class="fa fa-instagram fa-3x social"></i></a>
                                            <a href="mailto:info@jid.tn   "><i id="social-em"
                                                    class="fa fa-envelope-square fa-3x social"></i></a>
                                        </div>
                                   
                                </section>
                            </div>
                            <!-- end /.footer-menu -->
                        </div>
                        <!-- Ends: .footer-widget -->
                    </div>
                    <!-- end /.col-lg-3 -->

                    <div class="col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <div class="footer-menu no-padding">
                                <h4 class="footer-widget-title">Notre partenaire médiatique</h4>
                                <ul>
                                    <li>
                                        <img src="../src/ifm.jpg" alt="" class="img-fluid">

                                    </li>

                                </ul>
                            </div>
                            <!-- end /.footer-menu -->
                        </div>
                        <!-- Ends: .footer-widget -->
                    </div>
                    <!-- Ends: .col-lg-3 -->

                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end /.footer-big -->

        <div class="mini-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-text">
                            <p>© 2020
                                <a href="#">JID</a>. All rights reserved. Created by
                                <a href="#">GAW</a>
                            </p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </footer>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="../js/preloader.js"></script>
</body>

</html>