<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../src/favicon.png" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style1.css">
    <link rel="stylesheet" href="../css/style2.css">
    <link rel="stylesheet" href="../css/preloader.css">
    <title>JID - JID - Devenez acteurJID</title>

</head>

<body>

    <header>

        <img src="../src/jidLogo.jpg" alt="JID" class="logo" />


    </header>

    <div class="container" style="padding: 20px;">

        <div class="row">
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="home.php">Acceuil</a></li>
                    <li><a href="presentation.html">Presentation</a></li>

                    <li class="menu-active" class="menu-has-children"><a href="">Acteurs de la JID</a>
                        <ul>
                            <li><a href="cartedesactivites.php">Carte des Activités</a></li>
                            <li><a href="calendrierdesactivite.php">Calendrier des Activités</a></li>
                            <li><a href="devenir-acteur.html">Devenir acteur</a></li>
                            <li><a href="proposer-un-debat.html">Proposer un débat</a></li>
                            <li><a href="fishbowl-debate.html">Fishbowl debate</a></li>
                        </ul>
                    </li>
                    <li class="menu-has-children"><a href="youthtalk2018.html">JID Youth Talk</a>
                        <ul>
                            <li><a href="youthtalk2018.html">JID Youth Talk 2018</a></li>

                        </ul>
                    </li>

                    <li class="menu-has-children"><a href="la-jid-2016.html">Documentation</a>
                        <ul>
                            <li><a href="la-jid-2016.html">LA JID 2016</a></li>
                            <li><a href="la-jid-2017.html">LA JID 2017</a></li>
                            <li><a href="la-jid-2018.html">LA JID 2018</a></li>
                        </ul>
                    </li>




                    <li><a href="contact.html">Contact</a></li>

                    <li class="menu-has-children"><a href="home.php">Français</a>
                        <ul>
                            <li><a href="#">Arabe</a></li>
                        </ul>

                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
    </div>
    <section id="contact-subheader">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-lg-12 text-center text-lg-left">
                    <h3 class="cta-title" align="start">PROPOSER UN DEBAT</h3>
                </div>
            </div>
        </div>
    </section>


    <section class="resume-section p-4 p-lg-5 text-center" id="contact">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col-lg-12">
                    <div class="debat">
                        <p>
                            Merci pour votre intérêt. Nous sommes désolés de vous informer que tous les espaces pour
                            organiser
                            les dialogues ont été réservés.
                            Nous serons ravis de vous avoir parmi nous à l'espace Arena, au Berges du lac 1, le 13
                            septembre
                            2019 à partir de 9h pour participer à nos activités.
                            Vous pouvez nous contacter via les réseaux sociaux et réserver votre billet via le lien
                            suivant
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <form style="padding: 10%;" class="contact-form d-flex flex-column align-items-center" method="post"
                        action="ajouterDebat.php" enctype="multipart/form-data">
                        <div class="form-group w-75"><label>Votre prénom - الاسم</label>
                            <input type="text" name="prenom" class="form-control" placeholder="" />
                        </div>
                        <div class="form-group w-75"><label>Votre nom - اللقب</label>
                            <input type="text" name="nom" class="form-control" placeholder="" />
                        </div>
                        <div class="form-group w-75"><label>Téléphone - رقم الهاتف</label>
                            <input type="text" name="telephone" id="inputmask" class="form-control" placeholder="" />
                        </div>
                        <div class="form-group w-75"><label>Email - البريد الإلكتروني</label>
                            <input type="email" name="email" class="form-control" placeholder="" />
                        </div>
                        <div class="form-group w-75"><label>Nom de l'organisation - اسم المنظمة</label>
                            <input type="text" name="orgname" class="form-control" placeholder="" />
                        </div>
                        <div class="form-group w-75"><label>Email de l'organisation - البريد الالكتروني للمنظمة</label>
                            <input type="email" name="orgemail" class="form-control" placeholder="" />
                        </div>

                        <div class="form-group w-75"><label>Logo de l’organisation - شعار المنظمة</label>
                            <input class="form-control" name="logo" type="file"></input>
                        </div>
                        <div class="form-group w-75"><label>Thème de débat- موضوع النقاش</label>
                            <select onchange="testonvalue()" id="theme" name="theme" id=""
                                class="form-control form-control-lg">
                                <option value="Citoyenneté-  المواطنة">Citoyenneté- المواطنة</option>
                                <option value="Jeunesse-  الشباب">Jeunesse- الشباب</option>
                                <option value="Vie politique-  الحياة السياسية">Vie politique- الحياة السياسية</option>
                                <option value="Décentralisation-  اللامركزية">Décentralisation- اللامركزية</option>
                                <option value="Développement durable-  التنمية المحلية">Développement durable- التنمية
                                    المحلية</option>
                                <option value="Elections-  الانتخابات">Elections- الانتخابات</option>
                                <option value="Emploi-  التشغيل">Emploi- التشغيل</option>
                                <option value="Femme-  المرأة">Femme- المرأة</option>
                                <option value="Finance locale-  التمويل المحلي">Finance locale- التمويل المحلي</option>
                                <option value="Personnes en situations d’Handicapés-  الأشخاص ذوي الإعاقة">Personnes en
                                    situations d’Handicapés- الأشخاص ذوي الإعاقة</option>
                                <option value="Immigration-  الهجرة">Immigration- الهجرة</option>
                                <option value="Justice-  العدالة">Justice- العدالة</option>
                                <option value="Média-  الاعلام">Média- الاعلام</option>
                                <option value="Protection sociale-  الحماية الإجتماعية">Protection sociale- الحماية
                                    الإجتماعية</option>
                                <option value="Sécurité-الأمن">Sécurité-الأمن</option>
                                <option value="Autres -آخر">Autres -آخر</option>
                            </select>
                        </div>
                        <div class="form-group w-75"><label>Autres -آخر</label>
                            <input type="text" id="autre" name="autre" class="form-control" placeholder="" disabled />
                        </div>
                        <div class="form-group w-75"><label>Description- وصف النقاش</label><br>
                            <textarea name="description" type="description" class="form-control" placeholder=""
                                rows="10" maxlength="500"></textarea>
                        </div>
                        <div class="form-group w-75"><label>Nombre d'intervenants- عدد المتدخلين</label>
                            <select name="nbrIntervenant" id="" class="form-control form-control-lg">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select> </div>
                        <div class="form-group w-75"><label>Durée et horaire souhaités - الفترة الزمنية</label>
                            <select name="dureeHoraire" id="" class="form-control form-control-lg">
                                <option value="11h30-13h">11h30-13h</option>
                                <option value="14h30-16h">14h30-16h</option>
                            </select> </div>
                        <div class="form-group w-75"><label>Informations complémentaires - معلومات إضافية</label><br>

                            <textarea name="Informations" type="description" class="form-control" placeholder=""
                                rows="10" maxlength="500"></textarea>
                        </div>

                        <button type="submit" id="submit" class="btn btn-submit btn-info w-75">Submit</button>
                    </form>

                </div>

                <div class="col"></div>
            </div>
        </div>


    </section>



    <footer class="footer-area footer--light">
        <div class="footer-big">
            <!-- start .container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div class="footer-widget">
                            <div class="widget-about">
                                <!-- <img src="http://placehold.it/250x80" alt="" class="img-fluid"> -->
                                <h4 class="footer-widget-title">C’est quoi la JID ? </h4>
                                <p>En 2007, l’Assemblée générale des Nations Unies a décidé de célébrer le <b>15
                                        Septembre</b> de chaque année la Journée internationale de la démocratie
                                    (JID)dans le but de promouvoir et de défendre les principes de la démocratie. Chacun
                                    est invité à commémorer cette journée pour accroître la sensibilisation du public
                                    sur les enjeux démocratiques. <b><a href="../presentation-2/index.html">En savoir
                                            plus</a></b></p>
                                <ul class="contact-details">

                                    <li>
                                        <span class="icon-envelope-open"></span>
                                        <b><a href="mailto:info@jid.tn">info@jid.tn</a></b>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Ends: .footer-widget -->
                    </div>
                    <!-- end /.col-md-4 -->
                    <div class="col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <div class="footer-menu footer-menu--1">
                                <h4 class="footer-widget-title">Liens Utiles</h4>
                                <ul>
                                    <li>
                                        <a href="#">United Nations</a>
                                    </li>
                                    <li>
                                        <a href="#">National Endowment for Democracy (NED)</a>
                                    </li>
                                    <li>
                                        <a href="#">L'Union Interparlementaire(IPU)</a>
                                    </li>
                                    <li>
                                        <a href="#">Elections Canada La Semaine </a>
                                    </li>
                                    <li>
                                        <a href="#">Canadienne de la Démocratie</a>
                                    </li>


                                    <li>
                                        <a href="#">Le Réseau InTerre Actif (Québec)</a>
                                    </li>
                                    <li>
                                        <a href="#">Assemblée Parlementaire de la Francophonie</a>
                                    </li>
                                    <li>
                                        <a href="#">Confédération Suisse Canton de Genève</a>
                                    </li>
                                    <li>
                                        <a href="#">International Day for Democracy conference to focus on democratic
                                            politics</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end /.footer-menu -->
                        </div>
                        <!-- Ends: .footer-widget -->
                    </div>
                    <!-- end /.col-md-3 -->

                    <div class="col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <div class="footer-menu">
                                <h4 class="footer-widget-title">Suivez-nous !</h4>
                                <section id="lab_social_icon_footer">
                                    <!-- Include Font Awesome Stylesheet in Header -->
                                    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
                                        rel="stylesheet">

                                    <div class="">
                                        <a href="https://www.facebook.com/JIDTN/"><i id="social-fb"
                                                class="fa fa-facebook-square fa-3x social"></i></a>
                                        <a href="https://twitter.com/JID_Tunisie"><i id="social-tw"
                                                class="fa fa-twitter-square fa-3x social"></i></a>
                                        <a href="https://www.instagram.com/jid_tn/"><i id="social-gp"
                                                class="fa fa-instagram fa-3x social"></i></a>
                                        <a href="mailto:info@jid.tn   "><i id="social-em"
                                                class="fa fa-envelope-square fa-3x social"></i></a>
                                    </div>

                                </section>
                            </div>
                            <!-- end /.footer-menu -->
                        </div>
                        <!-- Ends: .footer-widget -->
                    </div>
                    <!-- end /.col-lg-3 -->

                    <div class="col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <div class="footer-menu no-padding">
                                <h4 class="footer-widget-title">Notre partenaire médiatique</h4>
                                <ul>
                                    <li>
                                        <img src="../src/ifm.jpg" alt="" class="img-fluid">

                                    </li>

                                </ul>
                            </div>
                            <!-- end /.footer-menu -->
                        </div>
                        <!-- Ends: .footer-widget -->
                    </div>
                    <!-- Ends: .col-lg-3 -->

                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end /.footer-big -->

        <div class="mini-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-text">
                            <p>© 2020
                                <a href="#">JID</a>. All rights reserved. Created by
                                <a href="#">GAW</a>
                            </p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </footer>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="../js/preloader.js"></script>
    <script>
        function testonvalue() {
            var th = document.getElementById("theme").value;
            if (th === "Autres -آخر") {

                document.getElementById("autre").disabled = false;
            }
            else
                document.getElementById("autre").disabled = true;

        }
    </script>

</body>

</html>