<!doctype html>
<html lang="ar" dir="rtl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../../src/favicon.png" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="../../css/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/preloader.css">
    <title>JID - JID - Devenez acteurJID</title>
</head>

<body style="margin-left: 0%;">
    <header>

        <img src="../../src/jidLogo.jpg" alt="JID" class="logo" />


    </header>

    <div class="container" style="padding: 20px;">

        <div class="row">

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="الصفحة-الرئيسية.php">الصفحة الرئيسية</a></li>
                    <li class="menu-active"><a href="تقديم.html">تقديم</a></li>

                    <li class="menu-has-children"><a href="">فاعلين اليوم الدولي للديمقراطية</a>
                        <ul>
                            <li><a href="خريطة-الأنشطة.php">خريطة لأنشطة</a></li>
                            <li><a href="جدول-مواعيد-الأنشطة.php">جدول مواعيد الأنشطة</a></li>
                            <li><a href="كن-فاعل.html">كن فاعل</a></li>
                            <li><a href="اقتراح-مناظرة.html">اقترح نقاش</a></li>
                            <li><a href="حوض-السمك.html">حوض السمك</a></li>
                        </ul>
                    </li>
                    <li  class="menu-has-children"><a href="youthtalk2018.html">JID Youth Talk</a>
                        <ul>
                            <li><a href="youthtalk2018-ar.html">JID Youth Talk 2018</a></li>

                        </ul>
                    </li>

                    <li class="menu-has-children"><a href="la-jid-2016.html">التوثيق</a>
                        <ul>
                            <li><a href="la-jid-2016-ar.html">اليوم الدولي للديمقراطية 2016</a></li>
                            <li><a href="la-jid-2017-ar.html">اليوم الدولي للديمقراطية 2017</a></li>
                            <li><a href="la-jid-2018-ar.html">اليوم الدولي للديمقراطية 2018</a></li>
                            <li><a href="la-jid-2018-ar.html">اليوم الدولي للديمقراطية 2019</a></li>
                        </ul>
                    </li>




                    <li><a href="اتصل.html">اتصل بنا</a></li>

                    <li class="menu-has-children"><a href="الصفحة-الرئيسية.php">العربية</a>
                        <ul>
                            <li><a href="home.php">Français</a></li>
                        </ul>

                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>



    <section id="contact-subheader">
        <div class="container wow fadeIn">
            <div class="row">

                <div class="col-lg-12 text-center text-lg-left">
                    <h3 class="cta-title" align="start">تقديم</h3>
                </div>
            </div>


        </div>
    </section>


    <img src="../../src/jidLogo.jpg" style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;padding-top: 50px;" />

    <div class="container" style="padding-top:50px;">
        <article>
            <ul class="accordion">
                <li class="accordion__item">
                    <a class="accordion__link accordion__link_active">ما هو اليوم العالمي للديمقراطية؟
                    </a>
                    <ul class="sub-accordion">
                        <li class="sub-accordion__item">
                            <p>في عام 2007 ، قررت الجمعية العامة للأمم المتحدة الاحتفال بيوم 15 سبتمبر من كل عام
                                باعتباره اليوم الدولي للديمقراطية من أجل تعزيز مبادئ الديمقراطية والدفاع عنها.</p>
                        </li>

                    </ul>
                </li>
                <li class="accordion__item">
                    <a class="accordion__link">لماذا نحتفل باليوم العالمي للديقمراطية في تونس ؟
                    </a>
                    <ul class="sub-accordion">
                        <li class="sub-accordion__item">
                            <p>منذ عام 2011 ، كان التقدم الديمقراطي لا جدال فيه.<br><br>

                                تضاعفت مجالات الحرية ، تبنت تونس دستورًا جديدًا في يناير 2014 تبعه الانتخابات
                                الديمقراطية لرئيس وبرلمان.<br><br>

                                فازت اللجنة الرباعية للحوار الوطني بجائزة نوبل للسلام في عام 2015.<br><br>

                                مع تقدم الديمقراطية في تونس ، كانت خيبة الأمل ملموسة ، والإحباطات المتزايدة بشأن
                                الانتقال التي بطيئة في إحداث آثارها الإيجابية.<br><br>

                                يطرق فك ارتباط المواطنين الباب حيث تدخل تونس عملية لامركزية طويلة يجب أن تقرب الدولة من
                                المواطنين لتزويدهم بخدمات محلية أفضل.<br><br>

                                لا تزال تحديات تعزيز الديمقراطية التونسية عديدة. لكن المكاسب الديموقراطية حقيقية ولكنها
                                في الغالب تحتل المرتبة الثانية. إن "JID" هو طريقة للاحتفال بالتقدم المحرز منذ عام 2011
                                والاحتفال معا بالديمقراطية.<br><br>
                            </p>
                        </li>

                    </ul>
                </li>
                <li class="accordion__item">
                    <a class="accordion__link">JID: ما الأهداف؟</a>
                    <ul class="sub-accordion">
                        <li class="sub-accordion__item">
                            <p>تعزيز الخطاب الإيجابي من خلال تركيز الانتباه على التقدم الديمقراطي بدلاً من الصعوبات
                                والتحديات.<br><br>


                                تشجيع مشاركة المواطنين من خلال تنفيذ الإجراءات المتعلقة بـ "JID"<br><br>


                                رفع الوعي العام بحقيقة أن الديمقراطية تحتاج إلى المواطنين ليعملوا بشكل جيد "الديمقراطية
                                هي مسؤولية الجميع".<br><br>


                                الطموح هو أن يصبح مصرف التنمية للبلدان الأمريكية اجتماعا سنويا للمواطنين يجمع بين مختلف
                                مكونات المجتمع التونسي حول القيم الديمقراطية المشتركة.<br><br>

                            </p>
                        </li>

                    </ul>
                </li>
                <li class="accordion__item">
                    <a class="accordion__link">متى تحتفل "JID" في تونس؟</a>
                    <ul class="sub-accordion">
                        <li class="sub-accordion__item">
                            <p>سيتم الافتتاح الرسمي للاحتفالات في 15 سبتمبر من كل عام. تستمر الاحتفالات بضعة أيام قبل
                                وبعد 15 سبتمبر.</p>
                        </li>

                    </ul>
                </li>
                <li class="accordion__item">
                    <a class="accordion__link">أين تحتفل JID؟</a>
                    <ul class="sub-accordion">
                        <li class="sub-accordion__item">
                            <p>حيث تريده. إنها تتعلق بالاحتفال بالديمقراطية في جميع أنحاء البلاد: في منطقتك ، في مدينتك
                                ، في قريتك ، في بلديتك.</p>
                        </li>

                    </ul>
                </li>
                <li class="accordion__item">
                    <a class="accordion__link">من يستطيع الاحتفال بالديمقراطية؟</a>
                    <ul class="sub-accordion">
                        <li class="sub-accordion__item">
                            <p>هذا المهرجان مفتوح لجميع أولئك الذين يتعاطفون مع القيم والمبادئ الديمقراطية.<br><br>

                                إلى كل من يريد أن تستمر التجربة الديمقراطية الحديثة في تونس.</p>
                        </li>

                    </ul>
                </li>
                <li class="accordion__item">
                    <a class="accordion__link">كيف تحتفل JID؟</a>
                    <ul class="sub-accordion">
                        <li class="sub-accordion__item">
                            <p>يمكنك اختيار أن تصبح فاعلاً في JID من خلال اقتراح نشاط ملموس تنظمه قبل بضعة أيام من 15
                                سبتمبر وبعده ، وهو النشاط الذي ستبدأه والذي ستنفذه بنفسك في إطار جمعيتك على سبيل
                                المثال.<br><br>

                                استخدم شعار JID خلال أنشطتك لخلق علامة على الوحدة في هذا اليوم.</p>
                        </li>

                    </ul>
                </li>
            </ul>
        </article>
    </div>

    <section id="call-to-action">
        <div class="container wow fadeIn" style="padding-top: 20px;">
            <div class="row">

                <div class="col-lg-12 text-center text-lg-left">
                    <h3 class="cta-title" align="center">تحميل الرسم التوضيحي لليوم العالمي للديمقراطية</h3>
                </div>
            </div>



            <div class="row" style="padding-top: 50px;">
                <div class="col-lg-6 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="../../ressources/Infographie-JID_Ar.pdf">رسم توضيحي بالعربية
</a>
                </div>

                <div class="col-lg-6 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="../../ressources/Infographie-FR.pdf">رسم توضيحي بالفرنسية
</a>
                </div>
            </div>


            <div class="row" style="padding-top: 50px;">
                <div class="col-lg-6 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="../../ressources/Logo-en-arabe.png">شعار JID بالعربية</a>
                </div>

                <div class="col-lg-6 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="../../ressources/Logo-en-Français.png">شعار JID فرنسي</a>
                </div>
            </div>

        </div>
    </section><!-- #call-to-action -->


    <footer class="footer-area footer--light">
        <div class="footer-big">
            <!-- start .container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div class="footer-widget">
                            <div class="widget-about">
                                <!-- <img src="http://placehold.it/250x80" alt="" class="img-fluid"> -->
                                <h4 class="footer-widget-title">ماهو اليوم الدولي للديمقراطية ؟ </h4>
                                <p>أعلنت الجمعية العامة للأمم المتحدة منذ سنة 2007، يوم 15 سبتمبر تاريخ الاحتفال باليوم
                                    الدولي للديمقراطية بهدف تعزيز ودعم المبادئ الديمقراطية. وهي دعوة للجميع للاحتفال
                                    بهذا اليوم بهدف التوعية حول قضايا الديمقراطية. كما أنها فرصة لتقييم وضع الديمقراطية
                                    حول العالم.<a href="../../presentation-2/index.html"> <b>لمعرفة المزيد </a></b></p>
                                <ul class="contact-details">

                                    <li>
                                        <span class="icon-envelope-open"></span>
                                        <b><a href="mailto:info@jid.tn">info@jid.tn</a></b>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Ends: .footer-widget -->
                    </div>
                    <!-- end /.col-md-4 -->
                    <div class="col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <div class="footer-menu footer-menu--1">
                                <h4 class="footer-widget-title">روابط مفيدة</h4>
                                <ul>
                                    <li><a class="fancylink" href="">الأمم المتحدة</a></li>
                                    <li><a href="">الصندوق الوطني للديمقراطية</a></li>
                                    <li><a href="">الاتحاد البرلماني الدولي</a></li>
                                    <li><a href="">انتخابات كندا أسبوع الديمقراطية الكندية</a></li>
                                    <li><a href=""> شبكة InTerre Actif </a></li>
                                    <li><a href="">الجمعية البرلمانية للفرانكوفونية</a></li>
                                    <li><a href="">الاتحاد الكونفدرالي السويسري جنيف</a></li>
                                    <li><a href="">مؤتمر اليوم الدولي للديمقراطية للتركيز على السياسة الديمقراطية</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end /.footer-menu -->
                        </div>
                        <!-- Ends: .footer-widget -->
                    </div>
                    <!-- end /.col-md-3 -->

                    <div class="col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <div class="footer-menu">
                                <h4 class="footer-widget-title">تابعونا</h4>
                                <section id="lab_social_icon_footer">
                                    <!-- Include Font Awesome Stylesheet in Header -->
                                    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
                                        rel="stylesheet">

                                    <div class="">
                                        <a href="https://www.facebook.com/JIDTN/"><i id="social-fb"
                                                class="fa fa-facebook-square fa-3x social"></i></a>
                                        <a href="https://twitter.com/JID_Tunisie"><i id="social-tw"
                                                class="fa fa-twitter-square fa-3x social"></i></a>
                                        <a href="https://www.instagram.com/jid_tn/"><i id="social-gp"
                                                class="fa fa-instagram fa-3x social"></i></a>
                                        <a href="mailto:info@jid.tn   "><i id="social-em"
                                                class="fa fa-envelope-square fa-3x social"></i></a>
                                    </div>

                                </section>
                            </div>
                            <!-- end /.footer-menu -->
                        </div>
                        <!-- Ends: .footer-widget -->
                    </div>
                    <!-- end /.col-lg-3 -->

                    <div class="col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <div class="footer-menu no-padding">
                                <h4 class="footer-widget-title">شريكنا الإعلامي</h4>
                                <ul>
                                    <li>
                                        <img src="../../src/ifm.jpg" alt="" class="img-fluid">

                                    </li>

                                </ul>
                            </div>
                            <!-- end /.footer-menu -->
                        </div>
                        <!-- Ends: .footer-widget -->
                    </div>
                    <!-- Ends: .col-lg-3 -->

                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end /.footer-big -->

        <div class="mini-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-text">
                            <p>© 2020
                                <a href="#">JID</a>. All rights reserved. Created by
                                <a href="#">GAW</a>
                            </p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </footer>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="../../js/script.js"></script>
    <script src="../../js/preloader.js"></script>

</body>

</html>